@import "../main.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin: 15px 0;
  background-color: $primary-color;
  color: $light-color;
  border-radius: 10px;
  a {
    color: $light-color;
    font-size: small;
    font-weight: 600;
    padding: 8px;
    margin: 0 5px;
    border-radius: 7px;
    cursor: pointer;
    &:first-child {
      background-color: $light-color;
      color: $primary-color;
    }
    &:hover {
      color: $secondary-color;
    }
  }
  
}
.header-right {
  align-self: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 0;
  margin-right: 5px;
  cursor: pointer;
}

.header-left {
  display: flex;
  flex-direction: row;
}

a {
  color: $light-color;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    a {
      float: none;
      display: block;
      text-align: center;
      padding: 4px 20px;
      width: 100px;
      margin-bottom: 10px;
    }
  }

  .header-right {
    text-align: center;
  }

  .header-left {
    justify-content: center;
  }
  
  .logo-image {
    padding-left: 10px;
  }
}
