$primary-color: #004c3f ;
$secondary-color: #f3fcf4;
$light-color: white;
$dark-color: black;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  border: 3px solid $secondary-color;
  padding: 30px;
  border-radius: 8px;
  background-color: $secondary-color;
  color: $primary-color;
}

.title-container {
  display: flex;
  justify-content: center;
}
